# Excel Automation

## Get headers in a seperate file and format it

Get files in the current directory, for each file read column header and place it in a new excel list.

In [113]:
import os
import pandas as pd

currdir=os.getcwd()

foldername = 'Clothes_Shoes_Accessories'
folder = os.path.join(currdir, foldername)

df = pd.DataFrame()

for filename in os.listdir(folder):
    dfprod = pd.read_excel(folder +  "\\" + filename)
    
    lsthead = dfprod.columns.tolist()
    lsthead.insert(0,filename)
    serhead = pd.Series(lsthead)
    df = df.append(serhead,ignore_index=True)
    
df.head()

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,Ancient Greek & Roman Period.xlsx,Products>Clothes Shoes & Accessories>Fancy Dre...,Period / Era,Brand,Type,Gender,Subject,"Sizes (S,M,L)",Colours,Style,...,Country of Origin,Condition,Payment Options,Delivery Options,NaN,NaN,NaN,NaN,NaN,NaN
1,Boys Accessories.xlsx,Products>Clothes Shoes & Accessories>Kids' Clo...,Brand,Accessory Type,"Sizes (S,M,L)",Age Range,Specific Features,What's Included,Pattern,Colours,...,Condition,Payment Options,Delivery Options,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Boys Accessory Sets.xlsx,Products>Clothes Shoes & Accessories>Kids' Clo...,Brand,Accessory Type,"Sizes (S,M,L)",Age Range,Specific Features,What's Included,Pattern,Colours,...,Condition,Payment Options,Delivery Options,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Boys Bags.xlsx,Products>Clothes Shoes & Accessories>Kids' Clo...,Brand,Type,"Sizes (S,M,L)",Age Range,Specific Features,What's Included,Subject,Pattern,...,Material,Condition,Payment Options,Delivery Options,NaN,NaN,NaN,NaN,NaN,NaN
4,Boys Belts & Belt Buckles.xlsx,Products>Clothes Shoes & Accessories>Kids' Clo...,Brand,Accessory Type,"Sizes (S,M,L)",Age Range,Specific Features,What's Included,Pattern,Colours,...,Condition,Payment Options,Delivery Options,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Split out the breadcrumbs into separate columns
Place the breadcrumb first

In [114]:
lstbc=[]
dfbc=pd.DataFrame()
maxlen=0
for i in range(len(df)):
    lstbc = df.iloc[i,1].split('>')
    if maxlen < len(lstbc):
        maxlen= len(lstbc)
    serbc=pd.Series(lstbc) 
    dfbc = dfbc.append(serbc,ignore_index=True)

dfbc.head(1)

,0,1,2,3,4,5
0,Products,Clothes Shoes & Accessories,Fancy Dresses & Period Costumes,Period & Theatre Costumes,Ancient Greek & Roman Period & Theatre Costumes,NaN

In [115]:
lstlookup = ["Brand","Model","Product Type","Specific Features","Gender","Age Range","Sizes (S,M,L)",
             "Fabric Type","Pattern","Subject","Character","Occasion","Season","Main Colour","Colour Shade",
             "What's Included","Vintage","Condition","Country of Origin","Year / Era",
             "Payment Options","Delivery Options"]

In [116]:
dfstd = pd.DataFrame()
serlookup = pd.Series(lstlookup)
for i in range(0,len(df)):
    dfstd = dfstd.append(serlookup,ignore_index=True)
dfstd.head(1)

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,Brand,Model,Product Type,Specific Features,Gender,Age Range,"Sizes (S,M,L)",Fabric Type,Pattern,Subject,...,Season,Main Colour,Colour Shade,What's Included,Vintage,Condition,Country of Origin,Year / Era,Payment Options,Delivery Options

In [117]:
#Delete original breadcrumbs col
del df[df.columns[1]]
df

,0,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20
0,Ancient Greek & Roman Period.xlsx,Period / Era,Brand,Type,Gender,Subject,"Sizes (S,M,L)",Colours,Style,Fabric Type,Country of Origin,Condition,Payment Options,Delivery Options,NaN,NaN,NaN,NaN,NaN,NaN
1,Boys Accessories.xlsx,Brand,Accessory Type,"Sizes (S,M,L)",Age Range,Specific Features,What's Included,Pattern,Colours,Material,Condition,Payment Options,Delivery Options,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Boys Accessory Sets.xlsx,Brand,Accessory Type,"Sizes (S,M,L)",Age Range,Specific Features,What's Included,Pattern,Colours,Material,Condition,Payment Options,Delivery Options,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Boys Bags.xlsx,Brand,Type,"Sizes (S,M,L)",Age Range,Specific Features,What's Included,Subject,Pattern,Colours,Material,Condition,Payment Options,Delivery Options,NaN,NaN,NaN,NaN,NaN,NaN
4,Boys Belts & Belt Buckles.xlsx,Brand,Accessory Type,"Sizes (S,M,L)",Age Range,Specific Features,What's Included,Pattern,Colours,Material,Condition,Payment Options,Delivery Options,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423,Womens Vintage Tops & Shirts.xlsx,Year / Era,Brand,Type,Neckline,Sleeve Length,"Sizes (S,M,L)",Fitting Type,Clothing Sizes,Bust Size,Fabric Type,Theme,Pattern,Colours,Condition,Payment Options,Delivery Options,NaN,NaN,NaN
424,Womens Vintage Trousers.xlsx,Period / Era,Brand,Trouser Type,Specific Features,Accents,Rise,Fitting Type,"Sizes (S,M,L)",Clothing Sizes,Inside Leg,Fabric Type,Pattern,Colours,Condition,Payment Options,Delivery Options,NaN,NaN,NaN
425,Womens Vintage Wedding Dresses.xlsx,Designer / Brand,Dress Type,Detailing,Sizes,Design Features,Dress Length,Train Length,Neckline,Sleeve Type,Colours,Pattern,Fabric Type,Decade,Condition,Payment Options,Delivery Options,NaN,NaN,NaN
426,WW1 & WW2 Period.xlsx,Brand,Clothing Type,Period / Era,Gender,Neckline,Sleeve Length,"Sizes (S,M,L)",Fitting Type,Pattern,Colours,Material,Condition,Payment Options,Delivery Options,NaN,NaN,NaN,NaN,NaN
427,Youth Traditional German .xlsx,Brand,Clothing Type,"Sizes (S,M,L)",Colours,Material,Country of Origin,Condition,Payment Options,Delivery Options,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Brand will all start on the first column available after the breadcrumb. So if the longest breadcrumb is 6 columns, then the 'Brand' will all start of column 7 and then the all the Headers as shown in the Headers_Attributes list attached

'Model/No' changes to 'Model'

'Colour' or 'Colours' changed to 'Main colour'

'Designer/Brand' change to 'Brand'

In [118]:
dfsh =pd.DataFrame() 

for index, row in df.iterrows():
    
    lsttemp = row.tolist()
    lsttemp = [x for x in lsttemp if str(x) != 'nan']
    
    lstnew = lsttemp[:]
    #Extract the additional columns other than standard lookuo cols 
    for i in lstlookup:
        
        for item in lsttemp:
            
            if (item == i):
                lstnew.remove(item)
    
    #Delete  "Material",colour, colours, model/no.,designer/brand and 'Period/era' from standard headers
    lstdel = lstnew[:]
    for a in lstnew:
        if (a.strip() == "Period / Era" or a.strip() == "Colour" or a.strip() == "Colours" or a.strip() == "Material"):
            
            lstdel.remove(a)
    #Append to the data frame
    dfsh = dfsh.append(pd.Series(lstdel),ignore_index=True)

dfsh.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,Ancient Greek & Roman Period.xlsx,Type,Style,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Boys Accessories.xlsx,Accessory Type,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Boys Accessory Sets.xlsx,Accessory Type,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Boys Bags.xlsx,Type,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Boys Belts & Belt Buckles.xlsx,Accessory Type,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [119]:
dffile = dfsh[dfsh.columns[0]]
del dfsh[dfsh.columns[0]]

In [120]:
dffile

0        Ancient Greek & Roman Period.xlsx
1                    Boys Accessories.xlsx
2                 Boys Accessory Sets.xlsx
3                           Boys Bags.xlsx
4           Boys Belts & Belt Buckles.xlsx
                      ...
423      Womens Vintage Tops & Shirts.xlsx
424           Womens Vintage Trousers.xlsx
425    Womens Vintage Wedding Dresses.xlsx
426                  WW1 & WW2 Period.xlsx
427         Youth Traditional German .xlsx
Name: 0, Length: 428, dtype: object

In [121]:
dffinal = pd.concat([dffile,dfbc,dfstd,dfsh], axis=1)
dffinal.columns=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41]

In [125]:
#Write to new excel
dffinal.to_excel("Headers_" + foldername + ".xlsx",index=False)